@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}


body::-webkit-scrollbar {
    width: 7px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #444b4b;
    border-radius: 5px;
}

